#highgarden:hover
{
  cursor:pointer;
}

.mapped:hover
{
  cursor:pointer;
}

h1
{
    text-align: center;
    color: white;
    font-weight: bolder;
}

h1:hover
{
  color: red;
  cursor:pointer;
}

#app
{
  border-style: solid;
  border-color: red;
  padding: 44px;
  float: right;
}

p
{
  color:white;
}

div p
{
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

body
{
    background-color: black;
}

#weather
{
  padding: 8px;
  float: left;
  position: fixed;
  border-style: solid;
  border-color: white;
}


